.matches {
  background-image: linear-gradient(359.94deg, #6ddbf5 -1.64%, #603dde 89.87%);
  height: max(100vh);
}

.header {
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}


.matchesInfo {
  background: #edf2f7;
  margin: 0 auto;
  border-radius: 30px;
  padding-bottom: 20px;
  height: 100%;
}

.matchesInfo .title {
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  padding: 20px 0;
}

.matchesList {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0 40px 0;
}

.match {
      box-shadow: 0px 2px 8px 0px rgb(183 188 244);
  width: max(394px, 80%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  box-sizing: border-box;
  margin: 10px auto;
}

.match > div{
  margin: 0 5px;
}

.match .matchId {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin: 0 50px 0 30px;
  width: calc(100% - 208px);
}

.matchInfo{
  height: 60px;
  border-radius: 19px;
  color: #fff;
  display: grid;
  align-items: center;
  width: 208px;
}

.matchInfo {
  background: linear-gradient(92.78deg, #EB3349 -0.35%, #F45C43 98.87%);
  width: 208px;
}

.teams {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.match .time {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.addMatch {
  background-image: linear-gradient(359.94deg, #d94058 -1.64%, #892bc2 89.87%);
  border-radius: 48px;
  width: 265px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.addMatch > div {
  background: #211f58;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  width: 257px;
  height: 63px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addMatch > div >img{
    height: 25px;
}

.addMatch > div > p{
    font-weight: 800;
font-size: 21px;
line-height: 29px;
letter-spacing: 0.1em;
}

@media screen and (max-width: 830px) {
  .matchesList{
    grid-template-columns: 1fr;
  }
}