.leaderBoard {
  background-image: linear-gradient(359.94deg, #6ddbf5 -1.64%, #603dde 89.87%);
  padding-bottom: 60px;
}

.header {
  font-weight: 800;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.leaderBoardInfo {
  width: min(800px, 90%);
  background: #edf2f7;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
}

.participants {
  width: min(400px, 90%);
  margin: 0 auto;
  margin-bottom: 30px;
}

.participantsList {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: min(400px, 90%);
  padding: 20px 0;
  margin: 0 auto;
}

.participants p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  width: min(400px, 90%);
  padding: 20px 0;
  margin: 0 auto;
}

.participant {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  background: linear-gradient(220.45deg, #d94058 5.86%, #892bc2 67.34%);
}

.winners {
  background: #4074fa;
}

.credit {
  background: linear-gradient(326.41deg, #039900 27.78%, #a7ee33 121.34%);
}

.winner,
.credit {
  margin-bottom: 20px;
}

.winners,
.title,
.credit {
  border-radius: 70px;
  width: 300px;
  height: 54px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.creditConfirmation {
  background: #fff;
  width: 324px;
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.creditConfirmation .confirm {
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
}

.creditConfirmation .note {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #6e6d7a;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: center;
}

.creditB {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.creditB button {
  width: 145px;
  height: 44px;
  border: none;
  border-radius: 11px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.creditB .creditPlayer {
  background: linear-gradient(111.72deg, #039900 -13.49%, #a7ee33 123.47%);
}

.creditB .cancel {
  background: #4074fa;
}
